* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
/* HEADER */
header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

header .slogan h1 {
  font-size: 24px;
  color: #333;
}

header .logo img {
  height: 50px;
  width: 50px;
}
/* NAVIGATION */
nav {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  margin-bottom: 20px;
  padding-top: 18px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 30px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a.active {
  font-weight: bold;
  background-color: #444;
  border-radius: 5px;
  padding: 5px 10px;
}

nav ul li ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px 0;
  list-style: none;
}

nav ul li:hover ul.dropdown {
  display: block;
}

nav ul li ul.dropdown li {
  margin: 0;
}

nav ul li ul.dropdown li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 17px;
}

nav ul li ul.dropdown li a:hover {
  text-decoration: underline;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.compte-container {
  width: 50%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.compte-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.compte-container p {
  margin-bottom: 10px;
  font-size: 16px;
}

.compte-container p strong {
  font-weight: bold;
}

.admin-options {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
}

.admin-options h3 {
  margin-top: 0;
  color: #333;
}

.admin-options ul {
  list-style-type: none;
  padding: 0;
}

.admin-options ul li {
  margin-bottom: 10px;
}

.admin-options ul li a {
  color: #007bff;
  text-decoration: none;
}

.admin-options ul li a:hover {
  text-decoration: underline;
}

.BtnDeco {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  margin-top: 20px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.BtnDeco::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #0fd850 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.BtnDeco:hover::before {
  width: 9em;
}
/* Footer */
.pied-de-page {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-top: 2rem;
  flex-shrink: 0;
}

.pied-de-page p {
  margin: 0;
}

.pied-de-page ul {
  list-style: none;
  padding: 0;
}

.pied-de-page ul li {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.pied-de-page ul li i {
  margin-right: 0.5rem;
}

/* BOUTON ZOOM */
.btnZoom {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #007BFF; /* Couleur bleue */
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btnZoom:hover {
  opacity: .95;
}

.btnZoom .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

 /* BOUTON PAYER  */

.BtnPayer {
  width: 130px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.BtnPayer::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.BtnPayer:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.BtnPayer:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}



/* Bouton mode Saint Valentin */

.saint-valentin-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: pink;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.saint-valentin-btn:hover {
  background-color: deeppink;
  color: white;
}

/* Mode Saint Valentin */

body.saint-valentin {
  background-color: #ffe6e6;
}

body.saint-valentin header {
  background-color: #ffcccc;
}

body.saint-valentin nav {
  background-color: #ff9999;
}

body.saint-valentin .pied-de-page {
  background-color: #ffcccc;
}

body.saint-valentin h1,
body.saint-valentin h2,
body.saint-valentin p {
  color: #ff3366;
}

body.saint-valentin .event-image,
body.saint-valentin #carrousel-container {
  border-color: #ff3366;
  box-shadow: rgba(255, 99, 132, 0.4) 0px 0px 0px 2px, rgba(255, 99, 132, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* Style pour le titre "Sélectionner un coach pour discuter" */
h2 {
  font-size: 24px; /* Taille de la police */
  color: #333; /* Couleur du texte */
  margin-bottom: 10px; /* Marge en bas */
}

/* Style pour le label du select */
label {
  display: block; /* Affichage en bloc */
  margin-bottom: 5px; /* Marge en bas */
}

/* Style pour le select */
select {
  width: 30%; /* Largeur du select */
  padding: 8px; /* Remplissage intérieur */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 5px; /* Bordure arrondie */
  margin-bottom: 10px; /* Marge en bas */
}

/* Style pour le bouton "Commencer la conversation" */
input[type="submit"] {
  background-color: #333; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Remplissage intérieur */
  border: none; /* Suppression de la bordure */
  border-radius: 5px; /* Bordure arrondie */
  cursor: pointer; /* Curseur de souris */
}

/* Style pour le survol du bouton */
input[type="submit"]:hover {
  background-color: #0fd850; /* Couleur de fond au survol */
}

/* Style pour le focus du bouton */
input[type="submit"]:focus {
  outline: none; /* Suppression de la bordure de focus */
}
