body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

header .logo img {
    height: 70px;
}

header .slogan h1 {
    font-size: 24px;
    color: #333;
}

nav {
    background-color: #333;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.section-compte {
    background: #fff;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
}

.section-compte h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-compte p {
    font-size: 1.2rem;
}

.types-compte {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.type-compte {
    background: #e7f3e7;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    text-align: center;
    margin: 1rem;
}

.type-compte h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.type-compte p {
    font-size: 1rem;
}

.pied-de-page {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-top: 2rem;
}

.pied-de-page p {
    margin: 0;
}

.pied-de-page ul {
    list-style: none;
    padding: 0;
}

.pied-de-page ul li {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.pied-de-page ul li i {
    margin-right: 0.5rem;
}
