* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

header .slogan h1 {
  font-size: 24px;
  color: #333;
}

header .logo img {
  height: 50px;
  width: 50px;
}

nav {
  background-color: #333;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;
}

nav ul li {
  margin: 0 30px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a.active {
  font-weight: bold;
  background-color: #444;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Menu déroulant */
nav ul li ul.dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Positionnement sous le parent li */
  left: 0;
  background-color: #333;
  padding: 10px 0;
  list-style: none;
}

nav ul li:hover ul.dropdown {
  display: block;
}

nav ul li ul.dropdown li {
  margin: 0;
}

nav ul li ul.dropdown li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 17px;
}

nav ul li ul.dropdown li a:hover {
  text-decoration: underline; /* Ajouter soulignement au survol */
}
