* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

header .slogan h1 {
  font-size: 24px;
  color: #333;
}

header .logo img {
  height: 50px;
  width: 50px;
}

nav {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 30px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a.active {
  font-weight: bold;
  background-color: #444;
  border-radius: 5px;
  padding: 5px 10px;
}

nav ul li ul.dropdown {
  z-index: 20;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px 0;
  list-style: none;
}

nav ul li:hover ul.dropdown {
  display: block;
}

nav ul li ul.dropdown li {
  margin: 0;
}

nav ul li ul.dropdown li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 17px;
}

nav ul li ul.dropdown li a:hover {
  text-decoration: underline;
}

.wrapper {
  position: relative;
  height: 80%;
  /* overflow-y: scroll; */
  /* padding: 20px; */
}

.sports {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sport {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 80%;
  height: 300px;
  margin: 30px;
  display: flex; /* Ajoutez cette ligne pour utiliser Flexbox */
  align-items: center; /* Centrer les éléments verticalement */
  padding: 10px;
  border-radius: 30px;
}

#sport img {
  width: auto;
  height: 100%;
  margin: 0 10px 0 10px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 4px, rgb(51, 51, 51) 0px 0px 0px 4px;
}

#sport .texte {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Ajoutez cette ligne pour définir l'espace entre le texte et le bouton */
}

.nom_salle {
  color: #202c2d;
  background: #ffffff;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5,
    -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5,
    -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5,
    -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
  font-size: 80px; /* Ajustez la taille du texte selon vos besoins */
  margin-bottom: 40px;
}

.pied-de-page {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-top: 2rem;
}

.pied-de-page p {
  margin: 0;
}

.pied-de-page ul {
  list-style: none;
  padding: 0;
}

.pied-de-page ul li {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.pied-de-page ul li i {
  margin-right: 0.5rem;
}

.boutton {
  background-color: #4caf50; /* Couleur de fond verte */
  color: white; /* Couleur du texte blanche */
  padding: 10px 20px; /* Espacement interne */
  border-radius: 5px; /* Coins arrondis */
  text-align: center; /* Centrer le texte */
  cursor: pointer; /* Curseur pointeur */
  font-size: 16px; /* Taille de police */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre portée */
  transition: background-color 0.3s, transform 0.3s; /* Transition pour l'effet */
}

.boutton:hover {
  background-color: #45a049; /* Couleur de fond plus foncée au survol */
  transform: scale(1.05); /* Effet d'agrandissement au survol */
}

.boutton:active {
  background-color: #3e8e41; /* Couleur de fond plus foncée lors du clic */
  transform: scale(1); /* Retrait de l'effet d'agrandissement lors du clic */
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background-color: white;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  padding: 20px;
  /* z-index: 19; */
}

.close-button {
  position: absolute;
  top: 0px; /* Adjust the value as needed */
  left: 0px; /* Adjust the value as needed */
  font-size: 24px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.text-with-arrow {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}

.arrow-down {
  width: 0;
  height: 0;
  margin-left: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.hidden-content {
  display: none;
  margin-top: 10px;
  font-size: 16px;
  max-width: 600px;
}

.texte h3 button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 18px;
  text-align: left;
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
  background-color: #fff;
  padding: 0 10px;
  margin-top: 10px;
  border-left: 4px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
